<H1>My Jupyter Notebook on IBM Watson Studio<H1>

<b>Sagar Aute</b><br>Student

<i>I am interested in data science because I want to become a data scietist under the industry of Media & Entertainment.<i>

<h3>The Following Code will Display Sum of 25 + 10</h3>

In [2]:
print(25+10)

35

<html>
    <header>
    </header>
    <body>
        <section>
            <h1> My favourite Fruits</h1>
            <ol>
                <li>Apple</li>
                <li>Banana</li>
                <li>Orange</li>
                <li>Mango</li>
                <li>Grapes</li>
            </ol>
            <hr>
            <table border=\"1px\">
                <tr>
                    <td><b>Needs</b></td>
                    <td><b>Wants</b></td>
                </tr>
                <tr>
                    <td>Water</td>
                    <td>Car</td>
                </tr>
                <tr>
                    <td>Food</td>
                    <td>Phone</td>
                </tr>
                <tr>
                    <td>Education</td>
                    <td>Computer</td>
                </tr>
                <tr>
                    <td>Medicine</td>
                    <td>Television</td>
                </tr>
            </table>
            <br>
            <hr>
        </section>
        <footer>
            <a href="https://www.instagram.com">Instagram</a>
        </footer>
    </body>
</html>